html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}

.deck .card.unmatched {
  cursor: default;
  background: #ff3232;
  animation-delay: 0.5s;
  -webkit-keyframes: shake 0.5s ease-in-out;
  animation: shake 0.5s ease-in-out;
}

.deck .card.off {
  cursor: default;
  pointer-events: none;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  font-size: 30px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.btn {
  background-color: #7fbf4d;
  background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image: linear-gradient(top, #7fbf4d, #63a62f);
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font: bold 25px/1 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
    Geneva, Verdana, sans-serif;
  padding: 7px 10px 8px 10px;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #76b347;
  background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
  background-image: linear-gradient(top, #76b347, #5e9e2e);
  -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
  box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer;
}

.dissmiss {
  background-color: #f62b2b;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f62b2b),
    to(#d20202)
  );
  border: 1px solid #f62b2b;
}

.dissmiss:hover {
  background-color: #e40a0a;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#e40a0a),
    to(#9f0202)
  );
}

.fa-pause,
.fa-play,
.score-panel {
  display: none;
}

.fa-pause,
.fa-play,
.fa-repeat {
  cursor: pointer;
}

/* modal window */

.js-modal {
  position: absolute;
  max-width: 500px;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  border-radius: 4px;
  background-color: #fff;
}

.js-modal--opened {
  position: fixed;
  min-width: 400px;
  max-width: 500px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  border: 2px solid #000;
  background-color: #fff;
  top: 20%;
  left: 50%;
}

.js-modal img {
  max-width: 100%;
}

/* Make the inner element relatively-positioned to contain the close button */
.js-modal-inner {
  position: relative;
  padding: 10px;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.js-modal-inner li,
ul {
  list-style: none;
  display: inline-block;
}
